<table class="table table-bordered">
  <tr *ngFor="let task of tasks" [class.table-dark]="task.isComplete">
    <td>
      <div [hidden]="!task.isComplete" [class.strike]="task.isComplete">
        {{ task.name }}
      </div>
      <div [hidden]="task.isComplete">
        <a [routerLink]="['/task', task.id]">{{ task.name }}</a>
      </div>
    </td>
    <td>
      <div
        (click)="onStatuChange(task)"
        style="text-decoration-line: underline; cursor: pointer;"
      >
        {{ task.isComplete ? "Crossed" : "Uncrossed" }}
      </div>
    </td>
    <td>
      <button
        (click)="onDelete(task)"
        class="btn btn-outline-dark my-2 my-sm-0"
        type="submit"
      >
        Delete
      </button>
    </td>
  </tr>
</table>
